<form asp-action="Index">
    <input type="string" name="HoTen" placeholder="Nhập Họ Tên"/>
    <input type="number" name="Tuoi" placeholder="Nhập Tuổi"/>
    <input type="text" name="ChieuCao" placeholder="Nhập Chiều Cao"/>
    <input type="text" name="CanNang" placeholder="Nhập Cân Nặng"/>
    <input type="submit" value ="Update"/>
</form>

<h1>@ViewBag.message</h1>